@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

@mixin young-serif-regular($fs) {
  font-family: "Young Serif", serif;
  font-size: $fs;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

@mixin outfit($fs: 1rem, $fw: 400, $lh: 150%) {
  /* Outfit regular default values (text-preset-4) */
  font-family: Outfit;
  font-size: $fs;
  font-style: normal;
  font-weight: $fw;
  line-height: $lh;
}

.recipe__title {
  @include young-serif-regular($fs: 2.5rem);
}

.recipe__ingredients-title,
.recipe__instructions-title,
.recipe__nutrition-title {
  @include young-serif-regular($fs: 1.75rem);
}

.recipe__preparation-title {
  @include outfit($fs: 1.25rem, $fw: 600, $lh: 100%);
}

.recipe__description, 
.recipe__preparation-item,
.recipe__ingredients-item,
.recipe__instructions-item,
.recipe__nutrition-note,
.recipe__nutrition-cell--label {
  @include outfit;
}


.recipe__preparation-item-label,
.recipe__instructions-item-label,
.recipe__nutrition-cell--value {
  @include outfit($fw: 700);
}
